<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd%22%3E">

    <bean id="movieRepository" class="by.itechart.yavlash.repository.impl.DbMovieRepository"/>
    <bean id="movieReport" class="by.itechart.yavlash.report.MovieReport">
        <constructor-arg index="0" ref="movieRepository"/>
    </bean>
</beans>